.Button {
  padding: 10px 20px;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  background: #f0f0f0;
  color: rgb(54, 54, 54);
  transition: all 0.1s;
}

/* Variant Base support */
.Button.text {
  background-color: transparent;
}
.Button.text:hover {
}
.Button.outlined {
}

.Button.outlined:hover {
}

.Button.contained {
  box-shadow: 1px 1px 5px 0.1px rgba(209, 209, 209, 0.96);
}

.Button.contained:hover {
}

/* Color Base support */
.Button.primary {
}

.Button.secondary {
}

.Button.danger {
}

.Button.info {
}

/* Boolean style */

.Button.loading {
  cursor: not-allowed;
}

.Button.disabled {
}

.Button.fullWidth {
}

/* Size support */

.Button.size-small {
}

.Button.size-medium {
}

.Button.size-large {
}

.Button .spinner {
  display: inline;
  color: red;
}

.Button-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.Button-inner span {
  flex: 1;
}

.Button-inner svg {
  padding: 5px;
}
