@import url(../../styles/var.css);

.button {
  border: none;
  outline: none;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
  line-height: 1.5;
  color: var(--black);
}

.button.primary {
  background-color: var(--primary);
  color: var(--white);
}

.button.outline {
  background: none;
  border: 2px solid var(--primary);
}

.button.danger {
  background: var(--danger);
  color: var(--white);
}

.button.fullWidth {
  width: 100%;
}

.button.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.button.size-small {
  font-size: 0.825rem;
  padding: 5px 10px;
}
.button.size-medium {
  font-size: 1rem;
  padding: 8px 12px;
}
.button.size-large {
  font-size: 1.5rem;
  padding: 10px 15px;
}
