$primary: #ff6f00;
$primary-light: #ffa040;
$primary-text: #fff;
$secondary: #bdbdbd;
$secondary-light: #efefef;
$secondary-text: #000;
$danger: #d50000;
$danger-light: #ff5131;
$danger-text: #ffffff;
