:root {
  --primary: #ff6f00;
  --primaryLight: #ffa040;
  --primaryText: #fff;
  --secondary: #bdbdbd;
  --secondaryLight: #efefef;
  --secondaryText: #000;
  -danger: #d50000;
  -dangerlight: #ff5131;
  -dangertext: #ffffff;
}
