:root {
  --primary: #212121;
  --primaryLight: #484848;
  --primaryDark: #000;
  --primaryText: #fff;
  --secondary: #f44336;
  --secondaryLight: #ff7961;
  --secondaryDark: #ba000d;
  --secondaryText: #000;
  --secondaryDarkText: #fff;
}
