.Select-container {
  box-sizing: border-box;
  position: relative;
}

/* Control */
.Select-container > .Control {
  min-height: 3rem;
  border: 1px solid rgb(124, 124, 124);
  border-radius: 4px;
  display: flex;
  transition: all 0.1s;
}

.Select-container > .Control.focus {
  border: none;
  /* outline: 2px solid skyblue; */
  box-shadow: 1px 1px 11px 1px skyblue;
}

.Select-container > .Control > .Select-label {
  flex: 1;
  border-right: 1px solid rgb(124, 124, 124);
  display: flex;
  align-items: center;
  padding: 1rem;
}

.Select-container > .Control > .Select-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.Select-container > .Control > .Select-icon:hover {
  color: skyblue;
}

/* Menu */
.Select-container > .Menu {
  box-sizing: border-box;
  position: absolute;
  top: 4rem;
  left: 0;
  box-shadow: 3px 5px 11px 3px rgba(0, 0, 0, 0.26);
  border-radius: 4px;
  width: 100%;
  display: none;
}

.Select-container > .Menu.show {
  display: grid;
}

.Select-container > .Menu > .Menu-item {
  padding: 10px 20px;
}

.Select-container > .Menu > .Menu-item:hover {
  background: skyblue;
}

.Select-container > .Menu > .Menu-item.active {
  background: skyblue;
}
