.Card {
  display: inline-block;
  padding: 0.7rem;
  /* grid-template-columns: 4fr 1fr; */
}

.Card.bordered {
  border: 1px solid black;
}

.Card.shadow {
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.7);
}

.Card .borderBottom {
  padding-bottom: 0.4rem;
  border-bottom: 2px solid black;
}

/* Chidlren Component */
.Card > .CardTitle {
  /* Default Styling */
  padding: 0.7rem;
}

/* Card Title Size Support */
.Card > .CardTitle.size-small {
  font-size: 1rem;
}

.Card > .CardTitle.size-medium {
  font-size: 1.2rem;
}

.Card > .CardTitle.size-large {
  font-size: 1.5rem;
}

.Card > .CardSection {
  /* Default Styling */
  padding: 0.7rem;
}

/* Card Section Size Support */
.Card > .CardSection.size-small {
  font-size: 0.825rem;
}

.Card > .CardSection.size-medium {
  font-size: 1rem;
}

.Card > .CardSection.size-large {
  font-size: 1.2rem;
}
